body {
  background-color: #111111;
}

.pad_title {
  color: #b2b2b2;
}

.square_container_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.square_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
}

.square_container.custom_grid > .square:nth-child(1),
.square_container.custom_grid > .square:nth-child(2),
.square_container.custom_grid > .square:nth-child(3),
.square_container.custom_grid > .square:nth-child(4) {
  grid-column: span 1;
}

.square_container.custom_grid > .square:nth-child(5) {
  grid-column-start: 1;
}

.square {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
  padding: 7px;
  margin-top: 5px;
}

.square_index {
  font-size: 1.6em;
  margin-top: -4px;
}

.square_success {
  background-color: #50c804;
}

.square_fine {
  background-color: #7499ff;
}

.square_weak {
  background-color: #efbc54;
}

.square_warning {
  background-color: #e97659;
}

.square_critical {
  background-color: #ef1818;
}

.circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.circle_success {
  background-color: #50c804;
}

.circle_fine {
  background-color: #7499ff;
}

.circle_weak {
  background-color: #efbc54;
}

.circle_warning {
  background-color: #e97659;
}

.circle_critical {
  background-color: #ef1818;
}
